@font-face {
	font-family: Fraunces;
	src: url("Fraunces[SOFT,WONK,opsz,wght].ttf")
}

html,
body {
	height: 100%;
	position: relative;
	box-shadow: inset 10px 0 90px #ceb6a1;
	color: #2f201d;
	font-family: Fraunces, Georgia, serif;
	background: #fbf3e4;
	overflow-x: hidden
}

.flex-grow {
	flex: 1
}

a,
a:hover,
a:active {}

h1,h2,h3,h4,h5,h6 {
	color: #2f201d;
	font-variation-settings: "wght" 700;
	font-weight: 700
}

.padding40 {
	padding: 40px
}

.navbar-default .navbar-toggle {
	border: 0
}

.navbar-light .navbar-nav .nav-link {}

.navbar-light .navbar-brand,
.navbar-light:hover .navbar-brand:hover {}

.nav li>a {
	padding: 20px
}

.navbar li {
	font-size: 16px;
	text-transform: small-caps;
	margin-right: 25px
}

.navbar,
.navbar-collapse {
	border: 0;
	background: none;
	padding-top: 10px
}

ul.nav.navbar-nav.navbar-right li a:hover,
ul.nav.navbar-nav.navbar-right li.active a {
	background: none;
	border-bottom: 1px solid #a5d5ff
}

.footer {
	font-size: 13px;
	text-align: center
}

@media (min-width: 300px) and (max-width: 767px) {
	h1 {
		font-size: 3em !important
	}
	.customBackground {
		min-height: 80%;
		min-width: 140%;
		left: -40px;
		-webkit-transform: rotate(-4deg);
		-ms-transform: rotate(-4deg);
		transform: rotate(-4deg);
		z-index: 1041;
		position: relative
	}
	.resetTextRotation {
		transform: rotate(4deg) !important;
		max-width: 70%
	}
}
